<div class="alain-default__progress-bar" *ngIf="isFetching"></div>
<layout-header class="alain-default__header"></layout-header>
<layout-sidebar class="alain-default__aside"></layout-sidebar>
<section class="alain-default__content">
  <router-outlet></router-outlet>
</section>
<global-footer class="global-footer">
  除非特别注明，文章内容采用以下授权方式：
  <div class="global-footer__links-item">
    <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/">
      Creative Commons Attribution-ShareAlike 3.0 License
    </a>
  </div>
  <div class="global-footer__copyright">
    Copyright
    <i nz-icon type="copyright"></i>
    2018
    <a href="//github.com/cipchk" target="_blank">taogeT</a>出品
  </div>
</global-footer>
