<div class="alain-default__content-title">
  <h1>
    SCP基金会资料库
    <small>欢迎回来，{{username}}！</small>
  </h1>
</div>

<global-footer class="global-footer">
  除非特别注明，文章内容采用以下授权方式：
  <div class="global-footer__links-item">
    <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/">
      Creative Commons Attribution-ShareAlike 3.0 License
    </a>
  </div>
  <div class="global-footer__copyright">
    Copyright
    <i nz-icon type="copyright"></i>
    2018
    <a href="//github.com/cipchk" target="_blank">taogeT</a>出品
  </div>
</global-footer>
