<div class="alain-default__content-title">
  <h1>
    SCP基金会资料库
    <small>欢迎回来，{{username}}！</small>
  </h1>
</div>

<div nz-row [nzGutter]="24" class="mb-md">
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24">
    <nz-alert nzType="error" [nzCloseable]="false" [nzShowIcon]="false" nzBanner [nzMessage]="warnMessage"
              nzDescription="严禁未经授权的人员进行访问，肇事者将被监控，定位并处理">
      <ng-template #warnMessage>
        <span style="color: #600;">
          警告：基金会资料库属于
          <h1 style="display: inline-block; line-height: 1; color: #600;">高度机密</h1>
        </span>
      </ng-template>
    </nz-alert>
  </div>
</div>

<div nz-row [nzGutter]="24">
  <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6" *ngFor="let shortItem of shortcuts">
    <app-dashboard-shortcut [key]="shortItem"></app-dashboard-shortcut>
  </div>
</div>

<div nz-row [nzGutter]="24">
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16">
    <app-dashboard-news></app-dashboard-news>
  </div>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8">
    <app-dashboard-website></app-dashboard-website>
  </div>
</div>

<nz-back-top></nz-back-top>
